.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
   background-image: url('../../assets/background.png');
  background-size: cover;
}

.weather{
	margin: 60px;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 0 16px rgb(0, 0, 0, 0.5);
	width: 350px;
}

.bottom{
	display: flex;
	flex-direction: column;
}

.divider{
	display: none;
}

@media screen and (min-width: 1024px) {
	.weather{
		width: 860px;
	}

	.bottom{
		flex-direction: row;
		padding: 35px 0;
	}

	.divider{
		display: block;
		width: 3px;
		background-color: rgba(0, 0, 0, 0.1);
	}
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
