.otherCities{
	border-top: 1px solid rgb(0, 0, 0, 0.2);
}

.city{
	display: flex;
	align-items: center;
	background: transparent;
	text-align: left;
	border: 1px solid white;
	cursor: pointer;
}

.city:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
}

.name{
	margin:0;
	width: 120px;
	flex: 1;
}

.icon{
	margin-right: 25px;
}

@media screen and (min-width: 1024px) {
	.otherCities{
		border: 0;
	}
}