.current{
	display: flex;
	flex-direction: column;
	background-image: url('./assets/background1.jpeg');
  	background-size: cover;
	border-top-left-radius: 25px;
  	border-top-right-radius: 25px;
	color: white;
	padding: 40px 0;
	position: relative;
}

.left{
	padding: 0 25px;
}

.temperature{
	margin-top: 30px;
	font-size: 70px;
	text-align: center;
}

.clouds {
	text-align: center;
	letter-spacing: 5px;
	font-size: 20px;
}

.bottomMetas{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 30px 0;
	text-align: center;
}

.humidity{
	margin-right: 30px;
}

.wind{
	margin-left: 30px;
}

.right{
	padding: 0 25px;
	display: flex;
	justify-content: center;
	order: -1;
	text-align: center;
}

.location{
	margin:0;
	font-size: 40px;
	font-weight: 300;
	max-width: 200px;
}

.location::after{
	content: '';
	display: block;
	margin-top: 8px;
	height: 1px;
	background-color: white;
	width: 50%;
	transform: translateX(50%);
}

.bottom{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 24px;
}

.divider{
	width: 2px;
	background-color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 1024px) {
	.current{
		flex-direction: row;
		padding: 55px 0;
	}

	.left{
		padding: 0 95px;
	}

	.temperature{
		margin: 0;
		font-size: 90px;
	}

	.right{
		padding: 0 95px;
		order: 1;
		flex:1;
	}

	.location{
		margin-top: 16px;
		font-weight: 500;
	}

	.location::after{
		margin-top: 16px;
		height: 3px;
	}
}